html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.sc::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.sc::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.sc::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#message {
  color: #dcdcccee;
  background-color: rgba(0, 0, 0, 0.267);
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  visibility: hidden;
}

#chatbox {
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 30pt; */
  color: #dcdcccee;
  background-color: rgba(0, 0, 0, 0.267);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.889);
  /* width: 300pt; */
  height: 150pt;
  text-align: left;
  margin: 0 auto;
  /* margin-bottom: 25px; */
  padding: 10px;
  overflow: auto;
  margin-bottom: 2pt;
}

#chatAnchor {
  bottom: 10px;
  position: absolute;
}

.no-server {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.no-server img {
  padding: 20px 0;
}

.no-server a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}