html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #canvas {
  width: 100%;
  height: 100%;
 
} */

#babylonjsLoadingDiv {
  display: none !important;
}

.sc::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.sc::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.sc::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#message {
  color: #dcdcccee;
  background-color: rgba(0, 0, 0, 0.267);
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  visibility: hidden;
}

#chatbox {
  color: #dcdcccee;
  background-color: rgba(0, 0, 0, 0.267);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.889);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 2pt;
}

.loadingReact,
.no-server {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.no-server img {
  padding: 20px 0;
}

.no-server a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.fullHeight {
  height: 100vh;
}

#scene-explorer-host,
#inspector-host {
  height: 100%;
  z-index: 300;
}

#accessButton {
  width: auto;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: #212529;
}

#bgIsland {
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("./bg.jpg"); */
  position: relative;
}

#story {
  border: thick double #a1a1a1;
  margin: 10pt 0 10pt 0;
  padding: 4pt;
}

pre {
  margin: 0;
  color: rgb(250, 160, 160);
}

.mainButtons {
  margin: 2pt
}

.tooltip .tooltip-inner {
  width: auto;
  white-space: normal;
  max-width: 100%;
  font-size: 13pt;
  text-align: left;
  padding-right: 15pt;
}